.DS_Store
/build/
node_modules/
/src/server_manager/install_scripts/do_install_script.ts
/src/server_manager/install_scripts/gcp_install_script.ts
.vscode/
.idea/
third_party/shellcheck/download/
macos-signing-certificate.p12
third_party/outline-ss-server/linux/outline-ss-server
third_party/prometheus/linux/prometheus
