.DS_Store
.idea/
.task/
.vscode/
/build/
/src/server_manager/install_scripts/do_install_script.ts
/src/server_manager/install_scripts/gcp_install_script.ts
/task
macos-signing-certificate.p12
node_modules/
third_party/shellcheck/download/