name: Build and Test

concurrency:
  group: ${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - master

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install NPM Dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

  shadowbox:
    name: Shadowbox
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install NPM Dependencies
        run: npm ci

      - name: Setup Podman
        run: |
          TEMPFILE=mktemp
          node ./src/build/download_file.mjs --url=https://github.com/containers/podman/releases/download/v4.9.0/podman-remote-static-linux_amd64.tar.gz --out="${TEMPFILE}" --sha256=3fbc2df10691063b844346b27a3b463e84d480c51b586912a875140fb764b409
          mkdir -p build/bin
          tar -zx -f ${TEMPFILE} --strip-components=1 -C build/bin
          mv ./build/bin/podman-remote-static-linux_amd64 ./build/bin/podman
          export PATH="$(pwd)/build/bin:$PATH"

      - name: Shadowbox Debug Build
        run: npm run action shadowbox/server/build

      - name: Shadowbox Unit Test
        run: npm run action shadowbox/test

      - name: Shadowbox Integration Test
        run: npm run action shadowbox/integration_test/run

  manual-install-script:
    name: Manual Install Script
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      
      - name: Install Outline Server
        run: ./src/server_manager/install_scripts/install_server.sh --hostname localhost
      
      - name: Test API
        run: 'curl --silent --fail --insecure $(grep "apiUrl" /opt/outline/access.txt | cut -d: -f 2-)/server'

  metrics-server:
    name: Metrics Server
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install NPM Dependencies
        run: npm ci

      - name: Metrics Server Debug Build
        run: npm run action metrics_server/build

      - name: Metrics Server Test
        run: npm run action metrics_server/test

  sentry-webhook:
    name: Sentry Webhook
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install NPM Dependencies
        run: npm ci

      - name: Sentry Webhook Debug Build
        run: npm run action sentry_webhook/build

      - name: Sentry Webhook Test
        run: npm run action sentry_webhook/test

  manager-web-test:
    name: Manager Web Test
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install NPM Dependencies
        run: npm ci

      - name: Manager Web Test
        run: npm run action server_manager/test

  manager-linux-debug-build:
    name: Manager Linux Debug Build
    runs-on: ubuntu-latest
    needs: manager-web-test
    env:
      SENTRY_DSN: debug
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install NPM Dependencies
        run: npm ci

      - name: Build Linux Manager
        run: npm run action server_manager/electron_app/build linux

  manager-windows-debug-build:
    name: Manager Windows Debug Build
    runs-on: windows-2019
    needs: manager-web-test
    env:
      SENTRY_DSN: debug
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install NPM Dependencies
        run: npm ci

      - name: Build Windows Manager
        run: npm run action server_manager/electron_app/build windows

  manager-mac-debug-build:
    name: Manager MacOS Debug Build
    runs-on: macos-11
    needs: manager-web-test
    env:
      SENTRY_DSN: debug
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install NPM Dependencies
        run: npm ci

      - name: Set XCode Version
        run: sudo xcode-select -switch /Applications/Xcode_13.2.app

      - name: Build MacOS Manager
        run: npm run action server_manager/electron_app/build macos
